on:
  push:
    branches:
      - master
  pull_request: {}

jobs:
  Windows:
    name: build-linux
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v1
    - name: list files
      run: ls
    - name: removing CMakeCache
      run: rm Calculator/build/CMakeCache.txt
    - name: executing cmake
      run: cd Calculator/build/ && cmake .. -DCMAKE_BUILD_TYPE=Debug -G "Unix Makefiles" 
    - name: run make file
      run: cd Calculator/build && make all
    - name: executing test cases
      run: ./Calculator/build/test/Calculator_tst
  
      
